.control {
  flex-direction: column;
  background-color: $form-color;
}

form{
  justify-content: center;
}

.filter-sort {
  width: 100%;
  justify-content: flex-end;
}

.fav-icon-sort{
  color: $myGreen-color;
  font-size: $size-md;
}

.input-wrapper {
  height: 60px;
}
.input-style{
  
  
  padding: $size-sm;
  border: 2px solid #ccc;
  border-radius: 5px;
  background: #fff;
  outline: none;
}
.input-style:focus {
  border: 2px solid #00bafa;
  transition: 0.3s ease-in-out;
}

.warning {
    margin-top: -5px;
  display: block;
  padding-left: $size-sm;
  color: $btn-wr-color;
  font-size: 10px;
  font-weight: bold;
}