.todo {
  justify-content: space-between;
  background-color: $item-color;
}

.todo-success {
  text-decoration: line-through;
  
}

.check-icon {
  color: $myGreen-color;
}

.trash-icon {
  color: $btn-wr-color;
}

.pencil-icon {
  color:#478CE6;
}

.settings{
  justify-content: center;
}

.tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px 4px 8px;
  border-radius: 5px;
  font-size: 12px;
  top: -25px;
  right: 5px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

@media(max-width: 550px) {
  .media-title-date{
    font-size: $size-md*0.8;
  }
}